body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  width: 100%;
  height: 300px;
  background-image: url('./chang-duong-Sj0iMtq_Z4w-unsplash.jpg');
  background-size: cover;
  background-position: 25% 70%;
}

.header h1{
  font-size: 70px;
}

.form {
  width: 100%;
}

.containerAdd{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

